.section {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    background-color: #8d858523;
    color: #eee;

    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #000000;
  

    border-width: 1px 0px 1px 2px;

  }
  .link {
    letter-spacing: 3px;
    color: #090909;
    border: 1px solid #000000;
    line-height: 1.5;
    padding: 5px 10px;
    border-radius: inherit;
    transition: all 0.2s;
  }
  .link:not(:last-child) {
    margin-right: 12px;
  }
  .link:focus,
  .link:hover {
    border: 1px solid #ffffff00;
  }
  .active {
    color: #000000;
  }
